.nav-container a {
  text-decoration: none;
  color: aliceblue;
}

.post {
  display: inline;
}

.post h3 {
  padding-top: 4rem;
  font-size: 8rem;
  text-align: center;
  text-decoration: underline;
}

.post .post-image img {
  margin: 5rem auto;
  display: block;
}

.post .post-content {
  margin: 4rem;
}

.post .post-content p {
  font-size: 2.5rem;
}