.navbar {
  background: linear-gradient(207.8deg, #e66bdf 16.69%, #a00bdb 100%);
}

.navbar .container-fluid a {
  color: aliceblue;
  font-size: 1.8rem;
}

.navbar .container-fluid .navbar-collapse a {
  color: aliceblue;
}

.navbar .container-fluid .navbar-collapse button {
  color: aliceblue;
  font-size: 1.8rem;
}

.post {
  background-color: aliceblue;
}

.post img {
  width: 300px;
  height: 447px;
}

.post h2 {
  text-align: center;
  text-decoration: underline;
}

.post p {
  font-size: 1.8rem;
}

.post a {
  text-decoration: underline;
  color: black;
  font-size: 1.2rem;
}

.post hr {
  height: 3px;
}

.footer {
  width: 100%;
  height: auto;
  background: linear-gradient(207.8deg, #e66bdf 16.69%, #a00bdb 100%);
}

.footer .footer-social img {
  width: 50px;
  height: 45px;
  padding-right: 10px;
}

.modal-body a {
  opacity: 0;
}