* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto mono', monospace;
}

header, footer{
    width: 100%;
    background: linear-gradient(207.8deg, #e66bdf 16.69%, #a00bdb 100%);
}

.nav-container {
    width: 100vh;
    height: 8rem;
    padding: 2rem;
    font-size: 2.5rem;
    color: aliceblue;
}

.footer-container {
    height: 8rem;
}

.footer-social {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-self: end;
    margin-right: 50px;
    padding: 2rem 0;
}

.footer-social img {
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
}